* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #333;
  background-color: whitesmoke;
  border: solid purple;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.3rem;
}
