[data-cognitive] dialog {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 1rem;
  border: solid var(--primary);
  background: var(--background);
}

[data-cognitive] dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

[data-cognitive] dialog.show::backdrop {
  opacity: 1;
  transition: opacity 300ms;
}

[data-cognitive] dialog.hide::backdrop {
  opacity: 0;
  transition: opacity 300ms;
}

[data-cognitive] dialog.show {
  opacity: 1;
  transform: translateX(0);
  transition: transform 300ms, opacity 300ms;
}

[data-cognitive] dialog.hide {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 300ms, opacity 300ms;
}
